.popup-update-comic {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 35, 42, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
.wrapper {
    background-color: #1f0606;
    display: flex;
    margin-top: 6vh;
    height: 1800px;
    align-items: center;
    justify-content: space-around;
    .label {
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-weight: 600;
        color: aquamarine;
    }
    .button {
        margin: 4rem auto;
    }
}
.genre {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    .genre__label {
        color: aquamarine;
        text-align: center;
        font-weight: 600;
    }
    .genre__name {
        color: orange;
        font-weight: 600;
        text-align: center;
    }
    .genre__search {
        align-items: center;
        justify-content: space-around;
        .genre__search-label {
            font-size: 1.4rem;
            text-align: center;
        }
        .genre__search-input {
            padding: 1rem;
            border-radius: 5px;
            margin-right: 1rem;
        }
        .genre__search-btn {
            margin-right: 1rem;
        }
    }
}
.author {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    .author__label {
        color: aquamarine;
        text-align: center;
        font-weight: 600;
    }
    .author__name {
        color: orange;
        font-weight: 600;
        text-align: center;
    }
    .author__search {
        align-items: center;
        justify-content: space-around;
        .author__search-label {
            font-size: 1.4rem;
            text-align: center;
        }
        .author__search-input {
            padding: 1rem;
            border-radius: 5px;
            margin-right: 1rem;
        }
        .author__search-btn {
            margin-right: 1rem;
        }
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 35, 42, 0.6);
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 25vh;
        background-color: #1f0606;
        min-height: 30rem;
        .popup__label {
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: orange;
            text-align: center;
        }
        .popup__content {
            width: 100%;
            margin-top: 3rem;
            table {
                width: 80%;
                margin: 0 auto;
                border-collapse: collapse;
                border: 2px solid aquamarine;

                tr {
                    text-align: center;
                    th {
                        height: 4.6rem;
                        border-bottom: 1px solid;
                    }
                    td {
                        padding: 0.7rem 0;
                    }
                }
            }
        }
        .popup__btn {
            margin-top: 2rem;
            margin-bottom: 1rem;
            width: 60%;
        }
        .select {
            text-decoration: underline;
            color: aqua;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                color: orange;
            }
        }
    }
}

.popup__content {
    display: flex;
    .popup__content-1 {
        flex: 0 0 40%;
    }
    .popup__content-2 {
        flex: 0 0 60%;
    }
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}
