.popup-chapter {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 35, 42, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.wrapper {
    background-color: #1f0606;
    display: flex;

    margin: 0 auto;
    margin-top: 6vh;
    height: 900px;
    align-items: flex-start;
    justify-content: flex-start;
    .label {
        text-align: center;
        margin-bottom: 5rem;
        margin-top: 3rem;
        font-weight: 600;
        color: orange;
    }
    .button {
        margin: 4rem auto;
    }
}

.content_1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .item__comic__image {
        overflow: hidden;
        object-fit: fill;
    }
    .item__comic__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 2.2;
        .item__name {
            color: orange;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .item__list__chapter {
        .chapter__label {
            border: 1px solid aquamarine;
            margin: 0;
            margin-left: 2rem;
            padding-right: 1rem;
            .label__chapter {
                font-size: 1.3rem;
                overflow: hidden;
                text-align: center;
            }
        }
        .chapter__menu {
            overflow-y: scroll;
            border: 1px solid aquamarine;
            height: 40rem;
            box-shadow: 1px 3px 3px 1px #06ed5f;
            border-radius: 0 5px;
            margin-left: 2rem;
            .chapter__menu-item {
                text-align: center;
                font-size: 1.3rem;
                padding: 1rem 0;
                &:hover {
                    background-color: #fff;
                    color: black;
                }
            }
        }
    }
}
.content_2 {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    .item{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}
.genre {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    .genre__label {
        color: aquamarine;
        text-align: center;
        font-weight: 600;
    }
    .genre__name {
        color: orange;
        font-weight: 600;
        text-align: center;
    }
    .genre__search {
        align-items: center;
        justify-content: space-around;
        .genre__search-label {
            font-size: 1.4rem;
            text-align: center;
        }
        .genre__search-input {
            padding: 1rem;
            border-radius: 5px;
            margin-right: 1rem;
        }
        .genre__search-btn {
            margin-right: 1rem;
        }
    }
}
.author {
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    .author__label {
        color: aquamarine;
        text-align: center;
        font-weight: 600;
    }
    .author__name {
        color: orange;
        font-weight: 600;
        text-align: center;
    }
    .author__search {
        align-items: center;
        justify-content: space-around;
        .author__search-label {
            font-size: 1.4rem;
            text-align: center;
        }
        .author__search-input {
            padding: 1rem;
            border-radius: 5px;
            margin-right: 1rem;
        }
        .author__search-btn {
            margin-right: 1rem;
        }
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 35, 42, 0.6);
    top: 0;
    left: 0;
    overflow: hidden;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 25vh;
        background-color: #1f0606;
        min-height: 30rem;
        .popup__label {
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: orange;
            text-align: center;
        }
        .popup__content {
            width: 100%;
            margin-top: 3rem;
            table {
                width: 80%;
                margin: 0 auto;
                border-collapse: collapse;
                border: 2px solid aquamarine;

                tr {
                    text-align: center;
                    th {
                        height: 4.6rem;
                        border-bottom: 1px solid;
                    }
                    td {
                        padding: 0.7rem 0;
                    }
                }
            }
        }
        .popup__btn {
            margin-top: 2rem;
            margin-bottom: 1rem;
            width: 60%;
        }
        .select {
            text-decoration: underline;
            color: aqua;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                color: orange;
            }
        }
    }
}

.popup__content {
    display: flex;
    .popup__content-1 {
        flex: 0 0 40%;
    }
    .popup__content-2 {
        flex: 0 0 60%;
    }
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.add {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color:  rgba(32, 35, 42, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    .add_wrapper {
        background-color: #1f0606;
        margin-top: 12vh;
        height: 600px;
        .add_label{
            text-align: center;
            font-size: 1.8rem;
            height: 4rem;
            font-weight: 600;
            color: orange;
            margin-top: 4rem;
        }
        .add_content{
            
        }
    }
}
