.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 28rem;
    border-bottom: 1px solid red;
    margin: 2rem;
    padding: 1rem;
    overflow: hidden;
    color: rgb(58, 6, 52);
}

.image {
    // height: 100%;
    flex: 3;
    overflow: hidden;
    .content {
        width: 80%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .image-main {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            object-fit: cover;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.content {
    flex: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // margin: 2rem 0;
    .content-name {
        font-size: 1.6rem;
        text-align: center;
        font-weight: 600;
        margin-bottom: 1rem;
        color: rgb(58, 6, 52);
        &:hover {
            color: orangered;
        }
    }
    .content-des {
        text-align: justify;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    .content-child {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .content-auth {
            color: #ccc;
            font-size: 1.4rem;
        }
    }
}
